# Vim
/.vim/autoload/plug.vim
/.vim/plugged/
/.config/nvim/plugin/packer_compiled.lua
*~
.*~

# Mac
.DS_Store
/.config/karabiner/assets/

# editors
.idea
.vscode

# temporary files
,/

# direnv
.envrc

# zsh
/zsh/history
/zsh/zplug

# tmux
/tmux-client-*.log

# local settings
/local/nvim.vim
/local/gitconfig
/local/zsh.zsh

# ccls
.ccls-cache

# WSL
*:Zone.Identifier

