[include]
    path = ~/dotfiles/local/gitconfig
[color]
    ui = true
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    quotepath = false
    pager = delta
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[alias]
    s    = status
    st   = status
    a    = add
    br   = branch
    co   = checkout
    ci   = commit
    wt   = whatchanged --stat
    ck   = "!git --no-pager diff --diff-filter=ACMRX --name-only --no-color HEAD | egrep '\\.(t|p([lm]|sgi))$' | xargs -n 1 -P2 perl -wc"
    f    = fetch
    logpr = log --graph --decorate
    logo  = log --oneline
    logog = "log --oneline --grep=$1"
    logp  = log -p
    logpg = "log -p --grep=$1"
    logs  = log --stat
    diffs = "!git diff --color | diff-so-fancy"
    jiralog = log --date=short --no-merges --pretty=format:"|%h|%an|%ad|%s|"
    modified      = "!git --no-pager diff --diff-filter=ACMRX --name-only --no-color HEAD"
    modified-perl = "!git modified | egrep '\\.(t|p([lm]|sgi))$'"
    check-perl    = "!git modified-perl | xargs -n1 -P4 perl -wc"
    delete-merged = "!git branch --merged | egrep -v '\\*|\\+|develop|master|main' | xargs git branch -d"
    remove-merged = "!git delete-merged"
    clean-branch  = "!git fetch --all --prune && git delete-merged; git delete-pr"
    push-origin   = push origin --set-upstream HEAD
    untracked     = ls-files --others --exclude-standard
    pull-pr       = "!f(){ git fetch upstream refs/pull/$1/merge:pr/$1 && git checkout pr/$1; };f"
    pull-pr-o     = "!f(){ git fetch origin refs/pull/$1/merge:pr/$1 && git checkout pr/$1; };f"
    delete-pr     = "!git branch | grep '^\\s*pr/' | xargs git branch -D"
    current-branch = rev-parse --abbrev-ref HEAD
[push]
    default = simple
[github]
    user = mihyaeru21
[ghq]
    root = ~/ghq
[commit]
    template = ~/.gitcommittemplate
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
[diff]
    colorMoved = default
[init]
	defaultBranch = main
