# この gitignore は dotfiles 向け

/.vim/autoload/plug.vim
/.vim/plugged/
/.config/karabiner/assets/
/zsh/history
/zsh/zplug
/zsh/completions/*
!/zsh/completions/.gitkeep
/.config/fish/fish_variables
/tmux-client-*.log
/local/*
!/local/*.sample
