[user]
	name = Mihyaeru
	email = mihyaeru21@gmail.com
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
	quotepath = false
	pager = less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
    s   = status
    st  = status
    a   = add
    b   = branch
    ch  = checkout
    co  = commit
    logp = log --graph --decorate
[push]
	default = simple
