# dotfiles
/.vim/bundle/
/.config/nvim/bundle/
/.config/nvim/_local.vim
/.config/fish/fishd.*
/.config/fish/completions/fisher.fish
/.config/fish/functions/fisher.fish
/.config/karabiner/assets/
/fisher/*
!/fisher/fishfile

# Vim
*~
.*~

# Mac
.DS_Store

# AppCode
.idea

# temporary files
,/

