# 環境ごとの設定

# Mac用

# alias
alias ls="ls -xFG"
function sublime() {
    open -a /Applications/Sublime\ Text\ 2.app $1
}
function skim() {
    open -a /Applications/Skim.app $1
}

# 補完関係？
fpath=(/usr/local/share/zsh-completions $fpath)



# Linux用

# alias
alias ls="ls -xF --color=auto"

